$desktop: 48rem;
$primaryColor: #006E85;

@mixin widthBox($width) {
  margin: 0 auto;
  max-width: $width;
  padding: .5rem;
}

@mixin imageSize($width, $height) {
  max-height: $width;
  max-width: $height;
}

@mixin min($width) {
  @media screen and (min-width: $width) {
    @content;
  }

  @media print {
    @content;
  }
}

body {
  background-color: #fefefe;
  color: #333;
  font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  line-height: 1.3;

  .hide-print {
    @media print {
      display: none;
    }
  }

  .hide-screen {
    @media screen {
      display: none;
    }
  }

  a {
    color: #006E85;
    text-decoration: none;

    &:hover{
      color: rgba(#006E85, .75);
    }
  }

  h1{
    margin: 0;
  }

  h1, h2, h3, h4, h5, h6 {
    small {
      font-weight: 300;
    }
  }

  p {
    margin: 0;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  header {
    @include widthBox($desktop);

    svg {
      display: block;
      margin: 0 auto;

      @include min($desktop) {
        margin: 0;
      }

      @include imageSize(96px, 96px);
    }

    h1 {
      small {
        display: block;
      }
    }
  }

  main {
    @include widthBox($desktop);

    @include min($desktop) {
      display: flex;
    }

    section {
      h2:first-child {
        margin-top: 0;
      }

      @include min($desktop) {
        order: 1;
        width: 70%;
      }
    }

    aside {
      @include min($desktop) {
        order: 2;
        width: 30%;
      }

      text-align: center;

      figure {
        margin: 0;
        padding: 0;

        img {
          border-radius: 5%;
          box-shadow: 0 0 10px rgba(0,31,63,0.25);
          display: block;
          margin: 0 auto;

          @include imageSize(125px, 125px);
        }

        figcaption {
          h1 {
            small {
              display: block;
            }
          }
        }
      }
    }
  }

  footer {
    text-align: center;
  }

  span {
    color:#FF851B;
  }
}